@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-image: radial-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px);
        background-size: 10px 10px;
        background-color: #0b0b0b;
    }

    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/nunito-v26-latin-regular.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}