/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/hot
/public/storage
/public/vendor
/public/vendor/horizon
/public/vendor/nova
/public/vendor/telescope
/storage/*.key
/storage/pail
/resources/js/ziggy.js
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
/.fleet
/.idea
/.vscode
rr
.rr.yaml